<p id="notice"><%= notice %></p>

<p>
  <strong>Sort:</strong>
  <%= @account_sort.sort %>
</p>

<%= link_to 'Edit', edit_account_sort_path(@account_sort) %> |
<%= link_to 'Back', account_sorts_path %>
